body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#flexbox{
    display: flex; width: 100%; margin-top: 15%;
}

@media(max-width: 800px){
    #flexbox {
       width: 100%;
       display: block;
    }

    #flexbox > div{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 1vh;
        margin-left: 25%;
        margin-top: 15%;
    }

    h1{
        text-align: left;
        padding-left: 2%;
        font-size: x-large;
        
    }

    hr{
        color: black
    }

}